.ModalForm button {
  background-color: transparent;
  color: black;
}

.ModalForm button:hover {
  cursor: pointer;
}

.ModalForm div {
  min-width: 10%;
}

.ModalForm .form-container {
  align-items: center;
  background-color: rgb(29, 169, 224);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  height: 2em;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 50em;
}

.ModalForm .form-container,
.ModalForm button:active,
.ModalForm button:focus,
.ModalForm button:hover,
.ModalForm input,
.ModalForm textarea {
  color: white;
}

.ModalForm .form-container,
.ModalForm input,
.ModalForm textarea,
.ModalForm button {
  font-size: 10px;
}

.ModalForm button,
.ModalForm input,
.ModalForm textarea {
  background-color: transparent;
  border: 0;
  height: 1em;
  min-width: 10%;
}

.ModalForm form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.ModalForm form,
.ModalForm input {
  text-align: center;
}

.ModalForm textarea {
  text-align: left;
}

.ModalForm input:focus,
.ModalForm textarea:focus {
  outline: 0;
}

.ModalForm ::placeholder {
  color: white;
  opacity: .85;
  text-align: center;
}
