.EduistForm form {
  border-radius: 3px;
  display: flex;
  text-align: center;
}

.EduistForm form,
.EduistForm input,
.EduistForm textarea {
  background-color: rgb(29, 169, 224);
  color: white;
  font-size: 10px;
}

.EduistForm form,
.EduistForm input {
  text-align: center;
}

.EduistForm .left,
.EduistForm .right {
  align-self: center;
  display: inline-block;
  width: 50%;
}

.EduistForm .left input {
  width: 90%;
}

.EduistForm textarea {
  text-align: left;
}

.EduistForm input,
.EduistForm textarea {
  border: 0;
  color: white;
}

.EduistForm :focus {
  outline: 0;
}

.EduistForm ::placeholder {
  color: white;
}
