.TimelineEvent {
  font-size: 10px;
}

.TimelineEvent rect {
  fill: rgb(29, 169, 224);
  /* rect's version of border-radius */
  rx: 3px;
  ry: 3px;
}

.TimelineEvent text:not(.button),
.TimelineEvent .button:hover {
  fill: white;
}

.TimelineEvent .button {
  cursor: pointer;
}

.TimelineEvent .button:hover {
  fill: white;
}
