.Eduist {
  font-size: 10px;
}

.Eduist rect {
  fill: rgb(29, 169, 224);
  /* rect's version of border-radius */
  rx: 3px;
  ry: 3px;
}

.Eduist text:not(.button),
.Eduist .button:hover {
  fill: white;
}

.Eduist .button {
  cursor: pointer;
}

.Eduist .button:hover {
  fill: white;
}
